apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
  namespace: n8n
spec:
  interval: 10m
  chart:
    spec:
      chart: n8n
      version: 1.16.23
      sourceRef:
        kind: HelmRepository
        name: n8n
        namespace: flux-system
      interval: 10m
  values:
    externalPostgresql:
      host: n8n-postgres-rw.n8n.svc.cluster.local
      database: n8n
      username: n8n
      existingSecret: n8n-postgres-credentials

    log:
      level: warn

    db:
      type: postgresdb

    main:
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 512m
          memory: 512Mi

    worker:
      mode: queue
      waitMainNodeReady:
        enabled: true
      resources:
        requests:
          cpu: 512m
          memory: 256Mi
        limits:
          cpu: 2048m
          memory: 2Gi

    webhook:
      mode: queue

      url: "https://webhook-n8n.mateuszledwon.com"

      waitMainNodeReady:
        enabled: true

      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 512m
          memory: 512Mi
