apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: services
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: User applications (Nextcloud, etc.)
  
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  
  sourceRepos:
    - '*'
  
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  
  orphanedResources:
    warn: true
