apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: services
  
  sources:
    - repoURL: https://nextcloud.github.io/helm
      chart: nextcloud
      targetRevision: 8.7.0
      helm:
        releaseName: nextcloud
        valuesObject:
          nextcloud:
            host: nextcloud.mateuszledwon.com
            configs:
              logging.config.php: |-
                <?php
                $CONFIG = array (
                  'log_type' => 'errorlog',
                  'loglevel' => 0,
                  );

          persistence:
            enabled: true
            storageClass: longhorn
            size: 50Gi
          
          internalDatabase:
            enabled: true
          
          # externalDatabase:
          #   enabled: true
          #   type: postgresql
          #   host: nextcloud-postgres-rw.nextcloud.svc.cluster.local
          #   database: nextcloud
          #   existingSecret:
          #     enabled: true
          #     secretName: nextcloud-postgres-app
          #     usernameKey: username
          #     passwordKey: password
          
          redis:
            enabled: true
            auth:
              enabled: true
              existingSecret: nextcloud-redis-credentials
              existingSecretPasswordKey: password
            master:
              persistence:
                enabled: true
                storageClass: longhorn
                size: 2Gi
            replica:
              replicaCount: 0
          
          ingress:
            enabled: false
          
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 2000m
              memory: 2Gi

    - repoURL: https://github.com/Axot017/homelab.git
      targetRevision: main
      path: kubernetes/manifests/services/nextcloud
  
  destination:
    server: https://kubernetes.default.svc
    namespace: nextcloud
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
  # ignoreDifferences:
  #   - group: postgresql.cnpg.io
  #     kind: Cluster
  #     jsonPointers:
  #       - /spec/bootstrap
  #       - /spec/postgresql/parameters
  #       - /spec/resources
  #       - /spec/storage
