apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pihole
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "20"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: services
  
  sources:
    - repoURL: https://mojo2600.github.io/pihole-kubernetes
      chart: pihole
      targetRevision: 2.35.0
      helm:
        releaseName: pihole
        valuesObject:
          replicaCount: 1
          admin:
            existingSecret: pihole-admin-credentials
            passwordKey: password
          
          DNS1: "1.1.1.1"
          DNS2: "8.8.8.8"
          
          persistentVolumeClaim:
            enabled: true
            storageClass: longhorn
            size: 2Gi
          
          serviceDns:
            type: LoadBalancer
            loadBalancerIP: 192.168.18.123
            annotations:
              lbipam.cilium.io/sharing-key: pihole-svc
          
          serviceWeb:
            type: LoadBalancer
            loadBalancerIP: 192.168.18.123
            annotations:
              lbipam.cilium.io/sharing-key: pihole-svc
          
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
    
    - repoURL: https://github.com/Axot017/homelab.git
      targetRevision: main
      path: kubernetes/manifests/services/pihole
  
  destination:
    server: https://kubernetes.default.svc
    namespace: pihole
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
