apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg-operator
  namespace: cnpg-system
spec:
  interval: 10m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.27.0
      sourceRef:
        kind: HelmRepository
        name: cnpg-operator
        namespace: flux-system
      interval: 10m
  values:
    monitoring:
      podMonitorEnabled: true
      grafanaDashboard:
        create: true
