apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-postgres
  namespace: nextcloud
  labels:
    velero.io/exclude-from-backup: "true"
spec:
  instances: 1
  
  storage:
    storageClass: longhorn
    size: 10Gi
  
  postgresql:
    parameters:
      shared_buffers: "256MB"
      effective_cache_size: "512MB"
  
  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud
  
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "1000m"
  
  monitoring:
    enablePodMonitor: true
