apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflare-tunnel
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: homelab
  
  source:
    repoURL: https://github.com/Axot017/homelab.git
    targetRevision: main
    path: kubernetes/manifests/homelab/cloudflare
  
  destination:
    server: https://kubernetes.default.svc
    namespace: cloudflare
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
