apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: velero
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: homelab

  sources:
    - repoURL: https://vmware-tanzu.github.io/helm-charts
      chart: velero
      targetRevision: 11.3.2
      helm:
        releaseName: velero
        valuesObject:
          credentials:
            existingSecret: velero-s3-credentials
          configuration:
            backupStorageLocation:
              - name: default
                provider: aws
                bucket: mateuszledwon-homelab-backup
                config:
                  region: eu-central-1
            volumeSnapshotLocation:
              - name: default
                provider: aws
                config:
                  region: eu-central-1
            defaultBackupStorageLocation: default
            defaultVolumeSnapshotLocation: default
          initContainers:
            - name: velero-plugin-for-aws
              image: velero/velero-plugin-for-aws:v1.13.1
              volumeMounts:
                - name: plugins
                  mountPath: /target
          snapshotsEnabled: false
          deployNodeAgent: true
          nodeAgent:
            podSecurityContext:
              runAsUser: 0
              fsGroup: 0
          kubectl:
            image:
              repository: public.ecr.aws/bitnami/kubectl
              tag: "1.34"
    - repoURL: https://github.com/Axot017/homelab.git
      targetRevision: main
      path: kubernetes/manifests/homelab/velero

  destination:
    server: https://kubernetes.default.svc
    namespace: velero

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
