---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  encryptedData:
    AWS_ACCESS_KEY_ID: AgBCM9yvAAHgKYPOcu8wpzgyUQSZaq6KyPuz6Ns1e+MMXlldlLue6ZhNJl1A1645eMmkk2iLybEFG2irwLL6p59xY+9MTafQupxnz0hhxMsNY+XUohCOwpAEEcL92okqdER8ySdrZs3yFGrmKmahNHynp1z6z+fqPJ8beBJebzIqxcTGqhAoZ7yjSRs3YVcGln0PgaGea9mdIC/R73QtvBdtVxnzGu0taE+pP9dRQdUBxzF4NxmvdsaP5U00E7b8eiVQRItiDcfHA2xkv7Zxaomb4E4orVSn9wy8p753TMC03UzHmiMmoJHoCtxjGUkeyrl9dgO0Afw7evDgtLespo/cB1ImX1QWbItHK0Azzs/B1YGt6rErrxrfNm9o704DSAAXrLfEHDAmaADlwC4GI4KAgrFrhgP3tl/UEypT2SJgOE+XWtybXhfnZuep6pFYeDd3l6jKe2orzri4crfhtWIUUEB4Dx5hVD2cN2XYxy8RLL1RnsvKo7v7TLH2NRab1PO2iKsZKn8twPC8OUp563SuHW1DbHagXWfMaobdSx303esExa2KLGGkNaXxLkizTg69FBY45gV1V6cX6Rs37+C2fJvD1rGB3fT7z3j303wvDBt4YUhGPJtFQSAZu+FYQ46YGFdcdrUH2ir7IwJVL4iY7c3D5domBPM6GpGuBoJpT0pF4g/ecnpNUUs3FqfMxPF8zpMmDUzXdvVVcPjCZZcoc6dI8g==
    AWS_SECRET_ACCESS_KEY: AgCBrUc/1FBGbOFlZwK9FL44D2lhSegxCW6JdZJSahOhY9qzorkhlr5t2YGhprMk0XJb0vp7x1p9uNfzCo1yr7+u38pRFQ2rT6C+LCmzSSO/YANSRnQh7hU8APA7B8nnegeAu2aMp1+Zc1bTyKihRRwOEClmDUWIXGFcSURfJYG2jP77oMBdkf7R6M6G6drlP6+DWRXBmcSv0sZf13gu/99wxAPQye8G1ZpTOayIYMj75yigL5CG3DUsKueUGHUTrrEDPDfMOjWUQ1x+2DBA9bKSt+a1yHLWmVQQ1mC84NOQW6Ogz81ZlgpTc/q0vY/q+LR5L2zo4KfUYgZ22YSijulSmlBOSYocUft6lySpSTSimRteKc3oXs08GYyY9Di+T3L3ngKZZXwxKw9G79PxKWsWHW1QbOgLp6nzl+3XaB4cf3iGj4IkSK49kJOik8P9zGf4h0mkLWNJ3zxbjKaso+q+f8xsja48A161Sx8dw/5yZ9OCE2OY52M2yaC8OIT3yuXrqOyV4fBI+ZTUEu3nCNazZCZSsnXzqhC2uXE6lGphQQt/t1oL51BmEiIzHnlmhJv4l5tYUytrZ2al6eoGQ4/sP0H9FZEY3eTpd6E7zWHgz3SUXop3bWbyW1leaMo3rjx5PKgEwdjr8s1d32jYgVMDn9zq2ydxdJ/e4qVRvv4gC9jHwwqFqxXNhXv9Kwa9DxhqTY20ICDYBcWVsSVqjIbHFg2i0n0akcH21HaS82xKk4QsDzVaFIDG
  template:
    metadata:
      name: velero-s3-credentials
      namespace: velero
    type: Opaque
