---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  encryptedData:
    cloud: AgAfBOhBqj8E0ZFJAbFvEXWJ1pv8HOntpEvvUCCSw6AOTrtXGciCc0FPy8SN1ByjF4DfFqkW+wATO5gCXjB8T3tWXi+cy4v5CY37ulQWi9PHitLnIygeXU9Ep71K35srnXiGc9ZBRJ5134Gh5ivvN9jq2LDCZSLZW425pCtpuJIqCfuAUYWGjlau4smcwbj0arpp0V7dqmjvNUeyuaPKG6J0sRsendFcVibgdLVXqUMsbI6U/bP8CijoBFaRcz3EWOnFLa8hfhmNtbQT+3eQ0dA+d080+gxeVOerRntzVCR7sEtjxw1Ys/Kd+Sl8mvGQh3wWkpnNviPYR/R+avG9awjCYxP35AEU5omS/kFOhpXI3yEXLFEtDIBjFhsNla7b7/Qaoqatt95VtI47hkMbe3FtT3YY7Xi5G+6pZhM6tX4k9/7JfmL6dILqNfPsY/Q4kKKXKJq0V6HgS2lF7/oAe2xL4/DsnjMIMU5Rl1ErNxEv8zKy0WOjFixFRk+Fgq74dMh3F4spXRlf8edPbhYRQJ9ZKZUgDC1PWLyXkKlG+EBkAU9yhd/D8jGKyRbZzA1VHgCBfC0fkcGTBeiKh/xhO4mgaqdzZq1PQRH2FxuDxeJNYUbujgN3SeE9XCSc4TTJuooTS44GTJwkVGCOdRk79ljVwWRgTSDBrdejRwQlbsNc2B7b2K/2hl5toFzzLTIHMGgRT8f9iAI776OhjmyBMncgRvv7Q4EYFOBdzmE3pHBc06RH2MF3CN4WAGbemsA5Y/4wppkaRJHy5xCYRh4ljLL/oFU5yW5fbxjfkyNw5DSPaBP8Q6NN0/TCm6IXgAkFd8mH95thgiNazHS9WdkxbKjr
  template:
    metadata:
      name: velero-s3-credentials
      namespace: velero
    type: Opaque
