---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  encryptedData:
    AWS_ACCESS_KEY_ID: AgAHxBdcwYXi9TIR9Tl8koBCZxPO7e54qMmQWu0o53rzpKmsqsWGZRtrjV5soqvqY1a9d0UMOYwtq/TnkFXXTH5HNBhK2iRsO12weLAQLHDPqCMvpiWpFtnV5BKiKejeCsD6nVdAmlbKaOwtdUHRisXOAQs+z1Or/XdXb6b1f8qlYv9Q4GeDpFCLp3n/mesAtS8tw5UruwiMWYQTrhvHXGThhp0+rF1CN9l9iOamrxXgTKS/Q1BF4o1DRwqSA7lK0mFKa3b1ZEMhGtEOcGeXCiqjSCObYGbPRlhAvkL65zzZIcVTuBMuKomyQLi5miFvkIx96e/szFx+auoXw/7kLkkuanFqsn5CjwE0QqnBFEv2Ns8d6fHwjG7c4ChwiPFOklnY8aPKlZ2GuyHv+skLuO7+gF/mpgBSBEsZariv/QS3BzTmlRJ+Ij3X1WOZkZ9eBoRStspvVF9LLeEN/GDFNvCbewHn/aDQexGv712Zv2/yvbpA4ml8ekuI+Wg5dkLV1SugQwC7hUyK4aNxVnbQsqC4Vmw/2E9byf0cvXDrnns71gkkXwZRfm+f2Yf1Pa09DpYgZOEBr2nH8go7U6SGr0EN44UtZEsyetXw3O+sSrkYM4lmM1pxp4WN9j9BAonav4uTBA4BcW1a+dhjdMLMvAqlloVbNMbnpnIwrSd0KHohHmEtzlhfZiLWSGMSQcpuqZk3iidRQ74iGfuJTeBLxkZQvGBQLA==
    AWS_SECRET_ACCESS_KEY: AgBTlhevJhN0Ah7aTJzgmtv66Fzb+Q9e+ppmM5EuKF8yKdGbYk87miStnH+ng6KISGf1+5wLZravtyociNhWgtOYzvqymAdBaCjPgzV9RD4Mdi2TB+7Wv5mCkpkYIfBY1B6Qd7YZ/ay94GNyAXStnqY9uF8eklmgvPLkCmaW9LkILieW+AQuNztuhSG8Urr7yXcgIRbnGKTK8fz3gY88w2IzZ773Nalj+bn5+rh7lq203eTUZKQkEVPeW7Cza3b7TQewDBCXUJP6szbHJw0hvmat9nBcmqa/FJRWUaAd7r3n/nK7zmELqYNtccsZfINGxeWgBvfbGAN8VfZNeGpCCe7xJruMCTDFEDSeuoOgrkC6Z0Sb6iQod3xFcS8I75B3E7JcnxdSqUb+LAw3Bj4k+nPbVYVqMTtsnKuLH8Qgt0+0eG+oEzi0+Utu7Vgl3daTEha1C9p2Tqk006aj8hu9bFqp75CkNif3gWxgkWC8rMOq2koyxRzcFgALYbmsSK2w2haBAHVtUXcxW+5lwBUaw0mAt8dZHY04quUsk+2JBh6MuyBRIWM12hgri0cLU1FjuhKTccvXCO2H2f+kg31C/JovKbkHAV9M7x1s0PUW03mHEXbHXE9VceLbZRilaN5huda8AySfhIENcV20x/DPySCQbxQxnQFj6Y/GeFNEwUBvk7IAzp+pEHsbIFIu2eShwllq+jdvEBtflUBFSFznbtpbTGuvKYXu4p0KrPzqo/QrwMa4jl5AxwU/
  template:
    metadata:
      name: velero-s3-credentials
      namespace: velero
    type: Opaque
