---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  encryptedData:
    cloud: AgAfFlCyn9a0aWSwzjIjauE2M56Q4OgV2VeTSLNr5oDohnn0LW9ivFDJvJ8zDcUUL3D9CKsJqGCKHPYztKw5UDilq7mtqxVlkEBrGZs9hj5f/wZyw8QSdQkUcrsHCLtV5+i6SNzF1Ire0vfwiMx4GHvsJk6uYp9JQ8BuT7SupWwIpAv41HvdTPZe/6/XePf+mr5CG54Smgrw7bzdzNNw+3R2Dqbr575UtS4TNofKRRcMQPVUG66hZWFeJbayrVJB+zi7WAiod3/oC116k+1GnQA8A7VkOwuuDen5B/Qf04lxtse8p0BPUPK086NE/IjjzpAQ4I2bvsGEKzIJC+JSJacCc8zh716rXGK/aHudBW+Yu7CbABSSOfkqU6jCUdGpKuhYdfZ0yP5tYd48/jVQQrHxAG9eWMyMtySToQ6EZcKsda8iGWobzidr4g4d88jGqYlYMcGYqStDMQ8qwvA5ja0E3wB8CtWbCwFoILKbXQ4vqExSVKR+VBhuyT5SFJ5BFBfI4+d6bUdZu1zi+A64m7rqkUi3ujDpiL5CKbrsstFEH8NtNpcoaC0miktHydmfS+/DsyZRlKUD2NdUhtSvpQPyjvi+ERiB6XTHmfs1Zc8GsfpZXN9ptohBFePZssaT65k8fJ9ERL88vApZpSUpWEVNXz8Q7+ac+u9L6zpAIoKxzGgZBFZJGoIJkpqFoCzVL34JKqSpTcuoZEyqLh3JifAY6/XB/mWS4cMl4zvOzddTwGvemDAeo62/nC3j61cjXj1KxIyTpTdoT72jnhEGJLtjHePgo3iWzgkVCDwwHRyUsK+ivsLpokFSeKQ+q4of3DuoEGBlMjIUADNtoAZGRbFJ
  template:
    metadata:
      name: velero-s3-credentials
      namespace: velero
    type: Opaque
