apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pihole
  namespace: pihole
spec:
  interval: 10m
  chart:
    spec:
      chart: pihole
      version: 2.35.0
      sourceRef:
        kind: HelmRepository
        name: pihole
        namespace: flux-system
      interval: 10m
  values:
    replicaCount: 1
    admin:
      existingSecret: pihole-admin-credentials
      passwordKey: password

    DNS1: "1.1.1.1"
    DNS2: "8.8.8.8"

    persistentVolumeClaim:
      enabled: true
      storageClass: longhorn
      size: 2Gi

    serviceDns:
      type: LoadBalancer
      loadBalancerIP: 192.168.18.123
      annotations:
        lbipam.cilium.io/sharing-key: pihole-svc

    serviceWeb:
      type: LoadBalancer
      loadBalancerIP: 192.168.18.123
      annotations:
        lbipam.cilium.io/sharing-key: pihole-svc

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
