clusterName: homelab
endpoint: https://192.168.18.110:6443

talosVersion: v1.11.5
kubernetesVersion: v1.34.2

cniConfig:
  name: none

nodes:
  - hostname: node1
    ipAddress: 192.168.18.101
    controlPlane: true
    installDisk: /dev/nvme0n1

controlPlane:
  patches:
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        proxy:
          disabled: true
        etcd:
          advertisedSubnets:
            - 192.168.18.0/24
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445
        network:
          nameservers:
            - 1.1.1.1
            - 8.8.8.8
          interfaces:
            - interface: eno1
              dhcp: true
              vip:
                ip: 192.168.18.110
        kubelet:
          extraMounts:
            - destination: /var/lib/longhorn
              type: bind
              source: /var/lib/longhorn
              options:
                - bind
                - rshared
                - rw
        sysctls:
          vm.max_map_count: "262144"
        kernel:
          modules:
            - name: iscsi_tcp
            - name: nvme_tcp
